<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tour of tours">
            <td>{{ tour.id }}</td>
            <td>{{ tour.name }}</td>
            <td>
                <button class="btn btn-primary" (click)="viewTourLogs(tour.id)">View Tour Logs</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>